<!doctype html>

<head>
    <title>
        <%= tagline %>
    </title>
    <% include /partials/head %>
</head>
<html>

<body style="background:whitesmoke;">
<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
<section style="padding-left:50px;padding-right:50px">
<button id="ajoutFilmButton" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored button-ajout"
    onclick="showAjoutForm()">
<i class="material-icons">add</i>
</button>
<div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" data-mdl-for="ajoutFilmButton">Ajouter un film</div>
<button id="importFilmButton" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  button-import"
    onclick="showImportForm()">
<i class="material-icons">note_add</i>
</button>
<div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--large" data-mdl-for="importFilmButton">Importer des films</div>
<a class="elTitulo" href='/films' title='Liste des films'>
    <h1>Films</h1>
</a>
<form action="/films/search" method="post">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield search-bar">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="rechercher">
		  <i class="material-icons">search</i>
		</label>
        <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="rechercher" name="rechercher" placeholder="Rechercher...">
            <label class="mdl-textfield__label" for="Rechercher">Rechercher</label>
        </div>
    </div>
    <label>Rechercher par :</label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
	  <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="title" checked>
	  <span class="mdl-radio__label">Titre</span>
	</label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
	  <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="genre">
	  <span class="mdl-radio__label">Genre</span>
	</label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
	  <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="year">
	  <span class="mdl-radio__label">Année</span>
	</label>
</form>
<dialog class="mdl-dialog" id="form-delete" style="width:450px;display:none">
<h4 class="mdl-dialog__title">Supprimer le film ?</h4>
<div class="mdl-dialog__content">
    <p id="diag"></p>
</div>
<div class="mdl-dialog__actions">
    <button id="confirm" type="button" class="mdl-button">Confirmer</button>
    <button id="cancel" type="button" class="mdl-button close">Annuler</button>
</div>
</dialog>

<!-- FORMULAIRE AJOUT -->

<dialog class="mdl-dialog" id="form-ajout" style="width:50%;display:none;">
<h4 class="mdl-dialog__title">Ajouter un film</h4>
<div class="mdl-dialog__content">
    <p id="diag"></p>
    <form id="formAddFilm" name="addfilm" action="/films" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="inputTitle" type="text" name="title">
            <label class="mdl-textfield__label" for="inputTitle">Titre</label>
        </div>


        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="inputAnnee" type="text" pattern="\d{4}" name="year">
            <label class="mdl-textfield__label" for="inputAnnee">Année</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="inputGenre" type="text" name="genre">
            <label class="mdl-textfield__label" for="inputGenre">Genre</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="inputNationalite" type="text" name="nationalite">
            <label class="mdl-textfield__label" for="inputNationalite">Nationalite</label>
        </div>

        <br/>

        <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" id="inputSummary" name="resume" cols="200" rows="5"></textarea>
            <label class="mdl-textfield__label" for="inputSummary">Résumé</label>
        </div>

        <br/>

        <h4> Directeur </h4>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="inputDNom" type="text" name="directorLastname">
            <label class="mdl-textfield__label" for="inputDNom">Nom</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="inputDPrenom" type="text" name="directorFirstname">
            <label class="mdl-textfield__label" for="inputDPrenom">Prenom</label>
        </div>

        <br/>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="inputDDdn" type="text" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"
                name="directorBirth_date">
            <label class="mdl-textfield__label" for="inputDDdn">Date de naissance</label>
        </div>

        <h4> Acteurs </h4>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="inputActorsList" type="text" name="actorsList">
            <label class="mdl-textfield__label" for="inputActorsList">Acteurs (noms séparés par un ;)</label>
        </div>
        <br/>
    </form>
</div>
<div class="mdl-dialog__actions">
    <button id="confirm-ajout" type="button" class="mdl-button">Confirmer</button>
    <button id="cancel-ajout" type="button" class="mdl-button close">Annuler</button>
</div>
</dialog>

<!-- FIN FORMULAIRE AJOUT -->

<!-- FORMULAIRE IMPORT -->

<style>
            .mdl-button--file   input {
                cursor: pointer;
                height: 100%;
                right: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 300px;
                z-index: 4;
            }


            .mdl-textfield--file  .mdl-textfield__input {
                box-sizing: border-box;
                width: calc(100% - 32px);
            }
            .mdl-textfield--file  .mdl-button--file {
                right: 0;
            }
        </style>

<dialog class="mdl-dialog" id="form-import" style="width:50%;display:none;">
<h4 class="mdl-dialog__title">Importer des films</h4>
<div class="mdl-dialog__content">
    <p id="diag"></p>
    <form id="formImportFilm" name="importfilms" action="/films/import" method="post">

        <h4> Films </h4>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
            <input class="mdl-textfield__input" type="text" name='uploadFile' id="uploadFile" readonly placeholder="Fichier au format JSON"
            />
            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i><input type="file" id="uploadBtn">
            </div>
        </div>

        <br/>
    </form>
</div>
<div class="mdl-dialog__actions">
    <button id="confirm-import" type="button" class="mdl-button">Confirmer</button>
    <button id="cancel-import" type="button" class="mdl-button close">Annuler</button>
</div>
</dialog>

<script>
                                                                                                                                                        document.getElementById("uploadBtn").onchange = function () {
                                                                                                                                                            document.getElementById("uploadFile").value = this.files[0].name;
                                                                                                                                                        };
        </script>

<!-- FIN FORMULAIRE IMPORT -->

<!-- FORMULAIRE EDITION -->

<dialog class="mdl-dialog" id="form-edit" style="width:50%;display:none;">
<h4 id="operation_title" class="mdl-dialog__title">Editer un film</h4>
<div class="mdl-dialog__content">
    <p id="diag"></p>
    <form id="formEditFilm" name="editfilm" action="/films/update" method="post">
        <input class="mdl-textfield__input" id="inputEditID" type="text" name="_id" hidden>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-inputs">
            <input class="mdl-textfield__input" id="inputEditTitle" type="text" name="title">
            <label class="mdl-textfield__label" for="inputEditTitle">Titre</label>
        </div>


        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-inputs">
            <input class="mdl-textfield__input" id="inputEditAnnee" type="text" pattern="\d{4}" name="year">
            <label class="mdl-textfield__label" for="inputEditAnnee">Année</label>
            <span class="mdl-textfield__error">Oush, saisie une année sinon j'ai le seum !</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-inputs">
            <input class="mdl-textfield__input" id="inputEditGenre" type="text" name="genre">
            <label class="mdl-textfield__label" for="inputEditGenre">Genre</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-inputs">
            <input class="mdl-textfield__input" id="inputEditNationalite" type="text" name="nationalite">
            <label class="mdl-textfield__label" for="inputEditNationalite">Nationalite</label>
        </div>

        <br/>

        <div class="mdl-textfield mdl-js-textfield dialog-inputs">
            <textarea class="mdl-textfield__input" id="inputEditSummary" name="resume" cols="500" rows="5"></textarea>
            <label class="mdl-textfield__label" for="inputEditSummary">Résumé</label>
        </div>

        <br/>

        <h4> Directeur </h4>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-inputs">
            <input class="mdl-textfield__input" id="inputEditDNom" type="text" name="directorLastname">
            <label class="mdl-textfield__label" for="inputEditDNom">Nom</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-inputs">
            <input class="mdl-textfield__input" id="inputEditDPrenom" type="text" name="directorFirstname">
            <label class="mdl-textfield__label" for="inputEditDPrenom">Prenom</label>
        </div>

        <br/>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-inputs">
            <input class="mdl-textfield__input" id="inputEditDDdn" type="text" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"
                name="directorBirth_date">
            <label class="mdl-textfield__label" for="inputEditDDdn">Date de naissance</label>
        </div>

        <h4> Acteurs </h4>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label dialog-inputs">
            <input class="mdl-textfield__input" id="inputEditActorsList" type="text" name="actorsList">
            <label class="mdl-textfield__label" for="inputEditActorsList">Acteurs (noms séparés par un ;)</label>
        </div>
        <br/>
    </form>
</div>
<div class="mdl-dialog__actions">
    <button id="confirm-edit" type="button" class="mdl-button">Modifier</button>
    <button id="cancel-edit" type="button" class="mdl-button close">Annuler</button>
</div>
</dialog>

<!-- FIN FORMULAIRE EDITION -->

<div id="flexbox" class="flexbox" style="display:flex;flex-wrap:wrap;justify-content: space-around;justify-content: center;">
<% films.forEach(function(film) { %>
    <div id="<%= film._id %>" class="mdl-card mdl-shadow--2dp" style="width:450px;height:450px;display:inline-block;margin-bottom:20px;margin-left:20px">
<br>
<button id="del<%= film._id %>" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--icon"
    onclick="showDeleteModal(<%= JSON.stringify(film._id) %>, <%= JSON.stringify(film.title) %>)" style="float:right;display:inline-block;margin-left:10px;margin-right:10px"><i class="material-icons">delete</i></button>
<div class="mdl-tooltip" data-mdl-for="del<%= film._id %>">Supprimer le film</div>
<button id="ed<%= film._id %>" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--icon"
    onclick="showEditModal(<%= JSON.stringify(film) %>)" style="float:right;display:inline-block;"><i class="material-icons">edit</i></button>
<div class="mdl-tooltip" data-mdl-for="ed<%= film._id %>">Editer le film</div>
<div class="mdl-card__title" style="display:block;padding-bottom:0;">
<h2 class="mdl-card__title-text">
    <%= film.title %>
</h2>
<em class="mdl-card__subtitle-text">R&eacute;alis&eacute; par <%= film.director.first_name %> <%= film.director.last_name %> (<%= film.year %>, <%= film.country %>), <%= film.genre %></em>
</div>
<div class="mdl-card__supporting-text" style="display:flex;flex-direction: column;justify-content: space-around;">
<strong>Acteurs</strong>
<p>
    <%  var i= 0;
                    film.actors.forEach(function(actor) { i++; %>
        <%= actor.first_name %>
            <%= actor.last_name %>
                <% if(i<film.actors.length){%>,
                    <%}
             }); %>
</p>
<strong>Synopsis</strong>
<p style="overflow-y:auto;height:250px;">
<%= film.summary %>
    </p>
    </div>
    </div>
    <% }); %>
        </div>
        </section>
        </body>

        </html>
